:root {
  --background-color: #f2f2f2;
  --grey: #dfdfdf;
  --orange: #ffa14d;
  --black: #282828;
  --font-family: "Open Sans", sans-serif;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  word-wrap: break-word;
  background-color: var(--background-color);
  list-style: none;
  font-family: "Open Sans", Arial, sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  background-color: var(--orange);
  padding-top: 24px;
  padding-bottom: 24px;
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  outline: none;
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
button:focus {
  outline: none !important;
}

p {
  margin: 0;
}

h3 {
  margin: 0;
}

.round-button {
  background-color: var(--black);
  border-radius: 50%;
  height: 24px;
  width: 24px;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px;
}
.bcg-grey {
  background-color: var(--background-color);
}

.text-orange {
  color: var(--orange);
}
/*  header */

.page-header {
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 110px;
  height: 62px;
}

.main-nav {
  display: flex;
  gap: 32px;
  align-items: center;
}
.main-nav.mobile-hidden {
  display: flex;
}

.site-list {
  display: flex;
  gap: 32px;
}

.site-list a,
.site-list  .desktop-nav-item,
footer .footer-nav-item {
  color: white;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
footer .footer-nav-item {
  font-weight: 400;
  transition: all 0.2s ease-in-out;
}
footer .footer-nav-item:hover {
  color: var(--orange);
}
.footer .footer-addresses-box a {
  font-size: 20px;
}
.site-list  .desktop-nav-item {
  padding-bottom: 2px;
}
.site-list  .desktop-nav-item:hover {
  padding-bottom: 0px;
}
.black-button {
  color: white;
  background-color: var(--black);
  border: 1px solid var(--black);
}
.black-button:hover {
  color: white;
  border: 1px solid var(--orange);
  background-color: var(--orange);
}
.white-button {
  color: var(--black);
  background-color: white;
  border: 1px solid white;
}
.white-button:hover {
  color: white;
  background-color: var(--black);
}

.page-header .white-button,
.page-header .black-button {
  border: transparent;
}
.page-header .black-button:hover {
  color: var(--black);
  background-color: white;
}

.black-button, .white-button {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  padding: 12px 28px;
  border-radius: 60px;
  transition: all 0.3s ease;
}

.underline-animation {
  height: 0px;
  margin-top: -2px;
  background-color: white;
}
.user-card.active .user-card-top h3 .underline-animation,
.site-list__item:hover .underline-animation {
  height: 2px;
  background-color: #fff;
  animation: loadUnderline ease-out forwards 0.5s;
}

.user-card.active .user-card-top h3 .underline-animation {
  height: 4px;
  margin-top: -6px;
  background-color: var(--orange);
}

/* Styles for the custom select */
.custom-select {
  position: relative;
  display: inline-block;
  color: white;
  min-width: 70px;
  font-size: 20px;
}

.select-selected {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.select-selected img {
  margin-left: 5px; /* Adjust as needed */
}

.select-items {
  position: absolute;
  display: none;
  flex-direction: column;
  color: var(--orange);
  background-color: white;
  border: none;
  border-radius: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.select-items div {
  padding: 10px;
  cursor: pointer;
}

.select-items div:hover {
  background-color: white;
}
.mobile-show {
  display: none;
}
.mobile-hidden {
  display: block;
}
/* Show the dropdown when the select is clicked */
.custom-select:hover .select-items {
  display: flex;
  flex-direction: column;
}

/* Styles for the custom dropdown */

/* main */

.main {
  padding-top: 80px;
}

.hero {
  background-color: white;
  border-radius: 10px;
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
}

.hero-text {
  padding: 80px 0;
  width: 50%;
  height: 100%;
}

.hero h1 {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 54px;
  line-height: 64px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: "Nunito", sans-serif;
}

.hero p {
  font-size: 20px;
  margin-bottom: 40px;
}

.hero img {
  width: 360px;
}

.reasons {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 48px;
  padding-bottom: 80px;
}

.reasons h2 {
  font-family: "Nunito", sans-serif;
  font-size: 44px;
  font-weight: bold;
  font-weight: 900; /*investigate why doenst apply*/
  margin: 0;
  margin-bottom: 24px;
}

.reasons-top {
  padding: 0 40px;
}

.reasons p {
  font-size: 20px;
}

.reasons-list {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.reason {
  background-color: white;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  gap: 14px;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
.reason:hover {
   box-shadow: 0px 2px 6px 3px #00000026;
}

.reason.active {
  color: white;
  background-color: var(--orange);
  box-shadow: 0px 2px 6px 3px #00000026;
}
.reason .round-button {
  width: 0;
  height: 0;
  transform: rotate(-90deg);
  background-color: white;
  transition: all 0.3s ease;
}
.reason.active .round-button {
  width: 18px;
  height: 18px;
  background-image: none;
  background-color: white;
  transform: rotate(0deg);
}

.reason-box {
  padding: 40px 62px;
  background-color: white;
  border-radius: 10px;
  justify-content: space-between;
  gap: 50px;
  min-height: 280px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: none;
  transition: all 0.3s ease;
}
.reason-box:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 10px 32px 8px;
}

.reason-box.active {
  display: flex;
  align-items: center;
}

.reason-box p {
  font-size: 20px;
}

.reason-box h3 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 16px;
  font-family: "Nunito", sans-serif;
  gap: 10px;
}

.reason-box img {
  width: 300px;
  height: fit-content;
  max-height: 190px;
}

.reason-text {
  width: 60%;
  padding-right: 60px;
  justify-content: space-between;
  flex-direction: column;
}

.text-section {
  padding: 64px;
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: white;
  text-align: center;
}
.bottom-text-section {
  padding-top: 96px;
  padding-bottom: 96px;
}
.text-section .black-button {
  display: inline-block;
  margin-top: 24px;
}

.text-section h2 {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: "Nunito", sans-serif;
  font-size: 44px;
  line-height: 44px;
  font-weight: bold;
}

.text-section p {
  margin-top: 32px;
  margin-bottom: 24px;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
}

.step-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: var(--grey);
  border-radius: 10px;
  cursor: pointer;
  min-height: 112px;
  transition: all 0.3s ease;
}

.step.active .step-top {
  background-color: var(--orange);
}

.step .round-button {
  transition: all 0.3s ease;
}
.step.active .round-button {
  transform: rotate(180deg);
  
}

.steps {
  background-color: white;
  margin-bottom: 0;
  padding-bottom: 0;
}

.steps-list {
  margin: 0;
  padding-top: 80px;
  padding-bottom: 60px;
}
.steps-list .round-button {
  width: 40px;
  height: 40px;
}
.steps-header {
  display: flex;
  justify-content: space-between;
  background-color: var(--background-color);
  padding-top: 80px;
  padding-left: 160px;
  padding-right: 160px;
}

.steps-img {
  width: 486px;
}

.steps-header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 32px;
}

.steps-title {
  font-size: 54px;
  line-height: 58px;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

.steps-text {
  font-size: 44px;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  margin: 0;
}

.step {
  margin-bottom: 40px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.step:last-child {
  margin-bottom: 0;
}

.step h4 {
  color: var(--black);
  font-size: 28px;
  font-weight: bold;
  transition: all 0.3s ease;
}
.step.active h4 {
  color: white;
}

.step .step-additional-text {
  max-height: 0;
  opacity: 0;
  font-size: 20px;
  margin-left: 80px;
  margin-right: 80px;
  transition: all 0.3s ease;
}
.step.active .step-additional-text {
  opacity: 1;
  max-height: 250px;
  padding-top: 40px;
}

/* users */
.user {
  width: 160px;
  cursor: pointer;
  position: relative;
  padding-top: 250px;
  transition: transform 0.3s ease;
}
.user img,
.user svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
}

.user-box.active {
  background-image: url("../img/orange-back.svg");
  background-repeat: no-repeat;
  background-position: 50% 60%;
  transform: scale(1.1);
}
.user.active svg path.updateColor{
  fill: var(--orange)
}

.users {
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 80px;
  text-align: center;
}

.users-slider {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.users-list {
  display: flex;
  margin-bottom: -24px;
}

.users h2 {
  font-size: 44px;
  font-weight: bold;
  margin-bottom: 80px;
  margin-top: 0;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}
.users .round-button {
  width: 40px;
  height: 40px;
  background-size: 52%;
  transition: all 0.3s ease-in-out;
}
.users .round-button:hover {
  background-color: var(--orange);
}
.user-card {
  padding: 64px;
  border-radius: 15px;
  background-color: var(--grey);
  font-size: 18px;
  text-align: left;
  width: 1000px;
  color: rgba(255,255,255, 0.4);
  padding: 28px;
  height: 360px;
  overflow: hidden;
}

.user-card h3 {
  font-size: 32px;
  font-weight: 600;
}
.user-card.active h3 {
  transform: translateY(-40px);
  transition: all 0.3s ease-in-out;
  animation: fadeUp ease-out forwards 0.5s;
}

.user-card-top {
  display: flex;
  gap: 24px;
  justify-content: start;
  align-items: center;
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1.5px solid white;
}

.user-card-top img {
  padding-top: 4px;
  height: 92px;
  width: 92px;
  border: 1px solid var(--black);
  border-radius: 50%;
}

.user-card.active {
  padding: 64px;
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
  text-align: left;
  width: 1000px;
  color: black;
  font-size: 20px;
  flex: 0 0 50%;
  margin: 0 auto;
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 440px;
}
.user-card.active .user-card-top img {
  border: 1px solid var(--orange);
  background-color: var(--orange);
  animation: fadeIn ease-out forwards 0.5s;
  transition: background-color 0.3s ease;
}
.user-card.active .user-card-top img {
  border: 1px solid white
}
.user-card.active .user-card-top {
  margin-bottom: 24px;
  border: none;
}

.user-card.active p {
  transform: translateY(-40px);
  transition: transform 0.3s ease-in-out;
  animation: fadeUp ease-out forwards 0.5s;
}
.button-left {
  background-image: url("../img/arrow-left.svg");
}

.button-right {
  background-image: url("../img/arrow-left.svg");
  transform: scaleX(-1);
}

.user-cards-slider {
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 80px;
  max-width: 1200px;
  margin: 0 auto
}

.slider-track {
  display: flex;
  transition: transform 0.5s;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
}

.user-card.prev {
  position: relative;
  z-index: 0;
  width: 45%;
}

.user-card.next {
  position: relative;
  z-index: 0;
  width: 45%;
}

.user-card:not(.active):not(.prev):not(.next) {
  display: none;
}

/* pricing*/

.pricing {
  padding: 80px 60px;
}

.pricing-title {
  font-size: 54px;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  width: 600px; /*same as pricing card*/
  text-align: center;
}

.pricing-container {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  flex-direction: column;
}

.flex {
  display: flex;
}

.pricing-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pricing-buttons {
  background-color: white;
  border: 1px solid var(--black);
  border-radius: 40px;
  padding: 3px;
  width: fit-content;
  margin: 0 auto;
}

.pricing-button {
  font-size: 20px;
  padding: 16px 32px;
  background-color: white;
  border-radius: 40px;
  transition: all 0.3s ease;
}

.pricing-button.active {
  background-color: var(--black);
  color: white;
  font-weight: bold;
}
.pricing-side .white-button {
  margin-top: 20px;
}
.pricing-side .white-button:hover{
  border-color: var(--black);
}

.big-price {
  font-size: 64px;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  margin: 0;
}

.small-price {
  font-size: 32px;
  font-weight: bolder;
  font-family: "Nunito", sans-serif;
}

.pricing .logo {
  width: 110px;
  height: 60px;
  margin-bottom: 40px;
}

.price-card {
  padding: 48px 40px;
  background-color: var(--orange);
  color: white;
  border-radius: 15px;
  width: 600px;
  text-align: center;
  display: none;
  margin-top: 40px;
}
.price-card.active {
  display: block;
}

.price-text {
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.pluses {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
}

.plus {
  font-size: 20px;
  font-weight: 100;
}

.plus::before {
  content: url("../img/tick.svg");
  margin-right: 10px;
}
/* footer */

footer {
  background-color: var(--black);
  color: white;
  padding-top: 48px;
  padding-bottom: 64px;
  font-size: 24px;
}
.footer p {
  margin: 0;
}

.footer a {
  display: inline-block;
  transition: color 0.3s ease-in-out;
}
.footer a:hover {
  color: var(--orange);
}

.footer-title {
  font-size: 28px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 15px;
  font-family: "Nunito", sans-serif;
}

.footer-links {
  display: flex;
  gap: 10px;
  margin: 0;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 5px;
}


/* Additional css -> libraries */
.animate__animated.animate__delay_custom_1 {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  -webkit-animation-delay: calc(var(--animate-delay)*0.8);
  animation-delay: calc(var(--animate-delay)*0.8)
}
.animate__animated.animate__delay_custom_2 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-delay: calc(var(--animate-delay)*1);
  animation-delay: calc(var(--animate-delay)*1)
}
.animate__animated.animate__delay_custom_3 {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
  -webkit-animation-delay: calc(var(--animate-delay)*1.2);
  animation-delay: calc(var(--animate-delay)*1.2)
}
.animate__animated.animate__delay_custom_4 {
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
  -webkit-animation-delay: calc(var(--animate-delay)*1.4);
  animation-delay: calc(var(--animate-delay)*1.4)
}
.animate__animated.animate__delay_custom_5 {
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s;
  -webkit-animation-delay: calc(var(--animate-delay)*1.6);
  animation-delay: calc(var(--animate-delay)*1.6)
}


body#contact {
  min-height: 100vh;
}
#contact main {
  min-height: calc(100vh - 80px);
  background-color: var(--background-color);
}
body#contact header,
body#contact #mobileNav {
 border-bottom: 1px solid rgba(255,255,255, 0.4);
}

#contact h1 {
  font-family: 'Nunito';
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
  color: white;
}
#contact h3,
#contact h3 a {
  font-family: 'Nunito';
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
  color: white;
}
#contact h3 a {
  display: inline-block;
}
#contact h3 a:hover .underline-animation {
  height: 2px;
  animation: loadUnderline ease-out forwards 0.5s;
}
#contact footer h3 {
  text-align: left;
}

.calendly-inline-widget {
  min-width: 1200px;
}


#terms-and-conditions h1,
#privacy-policy h1{
  font-family: 'Nunito';
  font-size: 44px;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
  color: var(--black);
}
#privacy-policy div, 
#terms-and-conditions div, 
#privacy-policy p,
#terms-and-conditions p {
  font-size: 18px;
}

#privacy-policy p,
#terms-and-conditions p {
  margin-bottom: 12px;
}
#privacy-policy h2,
#terms-and-conditions h2 {
  font-size: 32px;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 20px;
}
#privacy-policy h3,
#terms-and-conditions h3 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
}
#privacy-policy ol,
#terms-and-conditions ol {
  margin-bottom: 1em;
}
#privacy-policy main ul,
#terms-and-conditions main ul {
  list-style: circle;
}
#privacy-policy main ol li,
#privacy-policy main ul li,
#terms-and-conditions main ol li,
#terms-and-conditions main ul li {
  margin-bottom: 0.25em;
}


@media (max-width: 1024px) {
  .mobile-show {
    display: block;
  }
  .mobile-hidden {
    display: none !important;
  }
  .container {
    padding: 0 16px;
  }
  .container .container {
    padding: 0;
  }
  .black-button, .white-button {
    font-size: 18px;
    padding: 8px 24px;
    width: 100%;
    text-align: center;
  }

  .hero p,
  .reasons p,
  .text-section p,
  .user-card.active p {
    font-size: 18px;
  }

  /* ----- mobile nav ----- */
  #mobileNav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--orange);
    z-index: 9999;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.3s ease;
  }
  #mobileNav.active {
    opacity: 1;
    transform: translateX(0);
  }
  #mobileNav .logo {
    width: 100px;
    height: 55px;
  }

  .mobile-nav-item {
    display: inline-block;
    font-size: 32px;
    font-weight: 600;
    padding: 16px 0;
    width: 100%;
    text-align: center;
    color: white;
  }

  /* -------- */
  .main {
    padding-top: 40px;
  }
  header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .logo {
    width: 74px;
    height: 40px;
  }
  
  .hero {
    padding: 16px;
    flex-direction: column-reverse;
  }
  .hero img {
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
  }
  .hero-text {
    padding: 40px 0;
    width: 100%;
  }
  .hero h1 {
    font-size: 40px;
    line-height: 48px;
  }


  .reasons {
    padding-left: 0;
    padding-right: 0;
  }
  .reasons-top {
    padding: 0;
  }
  .reasons h2 {
    font-size: 32px;
    line-height: 40px;
  }
  .reasons-list {
    gap: 12px
  }
  .reason {
    flex-direction: row-reverse;
    border: 8px;
  }
  .reason .round-button {
    width: 24px;
    height: 24px;
    transform: rotate(-90deg);
    background-color: black;
    transition: all 0.3s ease;
  }
  .reason.active .round-button {
    width: 24px;
    height: 24px;
    background-image: url("../img/arrow.svg");
    background-color: black;
    transform: rotate(0deg);
  }
  .reasons-list .reason-additional-text {
    max-height: 0;
    font-size: 16px;
    opacity: 0;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  .reasons-list .reason-additional-text span {
    display: inline-block;
    padding: 16px 12px;
    
  }
  .reasons-list li.active .reason-additional-text {
    max-height: 500px;
    opacity: 1;
  }

  .text-section {
    padding: 40px 16px;
  }
  .text-section h2 {
    font-size: 32px;
    line-height: 40px;
  }
  .text-section p {
    line-height: 24px;
  }
  
  .users h2 {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 40px;
    margin-top: 40px;
  }
  .users-slider {
    gap: 8px;
  }
  .users .round-button {
    margin-top: 36px;
    width: 24px;
    height: 24px;
  }
  
  .user {
    width: 56px;
    padding-top: 100px;
  }
  .user-box.active {
    background-size: 100%;
  }
  .user-cards-slider {
    padding-top: 72px;
  }
  .user-card.active {
    width: 100%;
    padding: 24px 16px;
    box-shadow: none;
  }
  .user-card-top img {
    width: 72px;
    height: 72px;
  }
  .user-card-top {
    padding-bottom: 4px;
  }
  .user-card h3 {
    font-size: 24px;
  }
  .user-card {
    box-shadow: none
  }
  .user-card.active .user-card-top {
    margin-bottom: 20px;
  }

  .pricing-side {
    width: 100%;
    margin-bottom: 40px;
  }
  .pricing-side h2 {
    width: 100%;
    font-size: 40px;
    line-height: 48px;
  }
  .pricing-title {
    font-size: 32px;
    line-height: 40px;
  }
  .price-card {
    width: 100%;
    padding: 24px 16px;
    margin-top: 24px;
  }
  .big-price {
    font-size: 40px;
  }
  .small-price {
    font-size: 24px;
  }
  .pricing-button {
    font-size: 18px;
  }
  .pluses {
    gap: 18px;
  }
  .plus {
    font-size: 20px;
  }

  .steps-header {
    flex-direction: column;
  }
  .steps-header {
    padding-right: 0;
  }
  .steps-header-text {
    margin-top: 0px;
  }
  .steps-title {
    font-size: 40px;
    text-align: center;
  }
  .steps-text {
    font-size: 24px;
    text-align: center;
  }
  .steps-img {
    width: 80%;
    max-width: 486px;
    margin-left: auto;
    margin-right: auto;
  }

  .step-top {
    min-height: 80px;
  }
  .step h4 {
    font-size: 24px;
  }
  .steps-list .round-button {
    width: 24px;
    height: 24px;
  }
  .step {
    margin-bottom: 20px;
  }
  .step .step-additional-text {
    margin-left: 4px;
    margin-right: 4px;
    font-size: 16px;
  }
  .step.active .step-additional-text {
    padding-top: 16px;
    max-height: 400px
  }
  .steps-header {
    padding-left: 0;
  }

  footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .footer-title {
    font-size: 24px;
    margin-top: 32px;
  }
  footer .footer-nav-item,
  .footer a {
    font-size: 18px;
  }
  .footer a.text-sm {
    font-size: 14px;
  }
  .footer-link img {
    width: 28px;
  }

  #contact main {
    min-height: calc(100vh - 200px);
  }
  #contact-content {
    margin-top: -160px;
  }
  .calendly-inline-widget {
    min-width: auto;
    width: 100%;
  }
}

@media (min-width: 500px) and (max-width: 1024px) {
  .hero {
    flex-direction: row;
  }
  .hero img {
    max-width: 70%;
  }
  .black-button, .white-button {
    width: auto;
  }
  .users-slider {
    gap: 24px;
  }
  .user {
    width: 75px;
    padding-top: 130px;
  }
  .below-pricing-section {
    text-align: center;
  }
  .below-pricing-section .logo {
    margin-left: auto;
    margin-right: auto;
    width: 110px;
    height: 60px;
  }
  .footer-follow-box, .footer-explore-box {
    width: 30%;
  }
  .footer-addresses-box {
    width: 40%;
  }
  footer > .container > .flex.flex-col {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .user-card.active {
    min-height: 400px;
  }
  .user-cards-slider {
    padding-top: 20px;
  }
}

@media (min-width: 1024px) and (max-width: 1367px) {
  .site-list a, .site-list .desktop-nav-item, footer .footer-nav-item {
    font-size: 20px;
  }
  .black-button, .white-button {
    font-size: 20px;
  }
  .reason {
    padding: 16px 8px;
  }
  .reasons p {
    font-size: 18px;
  }
  .reason-box h3 {
    font-size: 32px;
    line-height: 40px;
  }
  .text-section h2,
  .users h2,
  .pricing-title,
  .steps-title{
    font-size: 48px;
    line-height: 48px;
  }
  .steps-text {
    font-size: 32px;
  }
  .steps-header {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (min-width: 1367px) and (max-width: 1536px) {
  .reasons p {
    font-size: 20px;
  }
}





@keyframes loadUnderline {
  0% { width: 0%; }
  20% { width: 0%; }
  100% { width: 100%; }
}
@keyframes fadeUp {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}